

<%= render @car %>

<% @bookings.each do |booking| %>

    <p>
    <%= booking.starts_at %>
    </p>

    <p>
    <%= booking.ends_at %>
    </p>

    <p>
    <%= booking.user.email %>
    </p>
  <% end %>

<%= simple_form_for(@booking) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :starts_at, as: :string %>
    <%= f.input :ends_at, as: :string %>
    <%= f.association :car, as: :hidden, input_html: { value: @car.id} %>
    <%= f.input :accepted %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

<div>
  <%= link_to "Edit this car", edit_car_path(@car) %> |
  <%= link_to "Back to cars", cars_path %>

  <%= button_to "Destroy this car", @car, method: :delete %>
</div>
