<div class="car_container padding-top-pages">
  <div class="bread-crumbs">
    <div class="user-btn">
      <a href="/cars"  role="button">← Back</a>
    </div>
  </div>
  <div class="car_show_info">
  <!-- Image -->
    <div class="car_show_img">
      <%= image_tag @car.car_image, class: "car_avatar" %>
    </div>
    <!-- Car Info -->
    <div class="car-show-general">
      <div class="car-show-info">
        <h1 class="car-name-text"><%= @car.brand %></h1>
        <br>
          <div class="owner-btn">
        </div>
        <div class="car-texts">
          <p class="car-details">Model: <span class="car-detail-text"><%= @car.model %> </span></p><br>
          <p class="car-details">Address: <span class="car-detail-text"><%= @car.address %></span></p><br>
          <p class="car-details">Price: <span class="car-detail-text"><%= "€#{@car.price_per_day}/day" %></span></p><br>
        </div>
        <script src="https://cdn.lordicon.com/ritcuqlt.js"></script>
      </div>

      <%# BUTTON FOR BOOKING (from paws) %>
        <% if Booking.find_by(car: @car, user: current_user).present? %>
          <div class="cancel-btn">
            <%= button_to 'Car is reserved', class: "btn btn-cancel" %>
          </div>
        <% else %>
      <p class="car-description-paragraph">Welcome to our car rental service! We offer a wide range of vehicles to suit all your transportation needs, whether you're traveling for business or pleasure. Our fleet includes compact cars, sedans, SUVs, and luxury vehicles, all of which are well-maintained and regularly serviced to ensure maximum reliability.

 </p>
        <% end %>
    </div>
  </div>

<!-- Car Description -->
  <div class="car-description">
    <div class="description-text">
      <h5 class="car-description-header">Rent this <%= @car.brand %> with Easycar!</h5>

<% @bookings.each do |booking| %>
<% end %>
<%= simple_form_for(@booking) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :starts_at %>
    <%= f.input :ends_at %>
    <%= f.association :car, as: :hidden, input_html: { value: @car.id} %>
  </div>


<div class="form-group">
  <div class="col-sm-offset-4 col-sm-10">
    <input class="btn btn-primary" type="submit" value="Reserve Car" name="commit">
  </div>
</div>

<% end %>

    </div>
    <!-- Image -->
    <div class="car-description-right">
      <%= image_tag "friends.jpg", alt: "", width:"80%" %>
    </div>
  </div>
  </div>
</div>


<p>User need to login, in order to be able to reserve a car</p>
<p>  email: "MargueriteDuras@gmail.net",
  password: "123456"</p>
